*{
/*   border: solid 1px black; */
}

body{
  padding: 50px;
  display: flex;
  justify-content: center;
  background-color: #755241;
  COLOR: rgba(255,255,255,0.95);
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
}
.style1 {
	max-width: 50%;
}
#area1{
	text-align: center;
	background-color : pink;
	color: yellow;
}
/* 複寫區 */
ul{
  padding: 0;
  list-style: none;
}
h2{
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
}
h2::after{
  content: "";
  display: inline-block;
  width: 20px;
  height: 8px;
  background-color: #ff7168;
  margin-left: 10px;
}

h4{
  margin: 0;
  margin-top: 40px;
  opacity: 0.8;
  font-weight: 400;
}
a{
  color: white;
  text-decoration: none
}

hr{
  border: none;
  border-bottom: solid 4px #ff7168;
  width: 40%;
  margin-left: 0;
}


.resume{
  display: flex;
  max-width: 950px;
  border: solid 8px white;
  padding: 50px;
  position: relative;
}
.left{
  flex: 5;
}
.right{
  flex: 7;
}
.left,.right{
  padding: 15px;
}
.left{
  padding-right: 50px;
  border-right: solid 1px #ff7168;
}
.right{
  padding-left: 50px;
  padding-top: 150px;
}

.decoration{
  width: 300px;
  height: 140px;
  background: linear-gradient(135deg,#ff5f5f,#ffffae);
  border-radius: 70px 0px 0px 70px;
  position: absolute;
  right: 0;
  top: 50px;
  
}



/* list skill */
.listSkill{
  display: flex;
  flex-wrap: wrap;
}

.listSkill li{
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* list programming */
.listProgram .bar{
  width: 130px;
  height: 10px;
  border: solid 2px #ff7168;
  border-radius: 5px;
  
}

.listProgram li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.value{
  height: 100%;
  width: 60%;
  background-color: #ff7168;
  
}

.value.p40{
  width: 40%;
}
.value.p70{
  width: 70%;
}
.value.p80{
  width: 80%;
}
.value.p90{
  width: 90%;
}
.value.p100{
  width: 100%;
}

